<p *ngIf = "!(authService.getUser()|async)"> You are not logged in</p>
<mat-accordion *ngIf = "(authService.getUser()|async)">   
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let book of books$ | async;let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{book.title}}
        </mat-panel-title>
        <mat-panel-description>
            {{book.author}}
            <button mat-raised-button
            color = "primary"
            (click) = "true">
            Delete
            </button>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <button mat-raised-button
        color = "primary"
        (click) = "editstate[i] = !editstate[i]"
            >
        Edit
      </button>

      <bookform
        [hidden] = "!editstate[i]"
        [title] = "book.title"
        [author] = "book.author"
        [id] = "book.id"
        (update) = "update($event);editstate[i] = !editstate[i]"
        (closeEdit) = "editstate[i] = !editstate[i]"

      >

      </bookform>
      <p>{{book.summary}}</p>
    </mat-expansion-panel>
  </mat-accordion>
